---
import fetchApi from "../../lib/strapi";

import "../../styles/global.css";

import Header from "./../../components/Header.astro"

export async function getStaticPaths() {
  const pageSize = 25;
  let page = 1;
  let allBeers = [];

  let fetchMore = true;
  while (fetchMore) {
    const beersPage = await fetchApi<Beer[]>({
      endpoint: `beers?populate=*&pagination[page]=${page}&pagination[pageSize]=${pageSize}`,
      wrappedByKey: "data",
    });

    allBeers = [...allBeers, ...beersPage];

    if (beersPage.length < pageSize) {
      fetchMore = false;
    } else {
      page++;
    }
  }

  return allBeers.map((beer) => ({
    params: { Name: beer.Name },
    props: { ...beer },
  }));
}

type Props = Beer;

const beer = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyBeers - {beer.Name}</title>
  </head>

  <body>
    <Header />
    <div class="layout">
      <main class="content">
        <section class="beer-details">
          <h1 class="beer-name">{beer.Name}</h1>
          <div class="beer-meta">
            <p><strong>ABV:</strong> {beer.ABV}%</p>
            <p><strong>Style:</strong> {beer.Style}</p>
            <p><strong>My Score:</strong> {beer.My_score}</p>
            <p><strong>Average Score:</strong> {beer.Average_score}</p>
            <p><strong>Date Tasted:</strong> {beer.Date_tasted}</p>
          </div>

          <div class="beer-logo">
            {beer.Logo != null ? (
              <img
                src={`${import.meta.env.STRAPI_URL}${beer.Logo.url}`}
                alt={`${beer.Name} logo`}
              />
            ) : (
              <span>Logo not available</span>
            )}
          </div>

          <div class="brewery-info">
            {beer.Brewery ? (
              <a href={`/breweries/${beer.Brewery.Name}/`} class="brewery-link">{beer.Brewery.Name}</a>
            ) : (
              <span>Brewery not available</span>
            )}
          </div>
        </section>
      </main>
    </div>
  </body>
</html>