---
import fetchApi from "../../lib/strapi";

import "../../styles/global.css";

import BaseLayout from "./../../layouts/BaseLayout.astro"

export async function getStaticPaths() {
  const pageSize = 25;
  let page = 1;
  let allBeers = [];

  let fetchMore = true;
  while (fetchMore) {
    const beersPage = await fetchApi<Beer[]>({
      endpoint: `beers?populate=*&pagination[page]=${page}&pagination[pageSize]=${pageSize}`,
      wrappedByKey: "data",
    });

    allBeers = [...allBeers, ...beersPage];

    if (beersPage.length < pageSize) {
      fetchMore = false;
    } else {
      page++;
    }
  }

  return allBeers.map((beer) => ({
    params: { Name: beer.Name },
    props: { ...beer },
  }));
}

type Props = Beer;

const beer = Astro.props;
const pageTitle = beer.Name;
---

<BaseLayout pageTitle = {pageTitle}>
  <div class="layout">
    <main class="content">
      <section class="beer-details">
        <h1 class="beer-name">{beer.Name}</h1>
        <div class="beer-meta">
          <p><strong>ABV:</strong> {beer.ABV}%</p>
          <p><strong>Style:</strong> {beer.Style}</p>
          <p><strong>My Score:</strong> {beer.My_score}</p>
          <p><strong>Average Score:</strong> {beer.Average_score}</p>
          <p><strong>Date Tasted:</strong> {beer.Date_tasted}</p>
        </div>

        <div class="beer-logo">
          {beer.Logo != null ? (
            <img
              src={`${import.meta.env.STRAPI_URL}${beer.Logo.url}`}
              alt={`${beer.Name} logo`}
            />
          ) : (
            <span>Logo not available</span>
          )}
        </div>

        <div class="brewery-info">
          {beer.Brewery ? (
            <a href={`/breweries/${beer.Brewery.Name}/`} class="brewery-link">{beer.Brewery.Name}</a>
          ) : (
            <span>Brewery not available</span>
          )}
        </div>
      </section>
    </main>
  </div>
</BaseLayout>

<style>
.layout {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.content {
    background-color: #fff;
    padding: 2rem;
    width: 60%;
    max-width: 800px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.brewery-title {
    font-size: 2rem;
    color: #333;
    font-weight: bold;
    margin-bottom: 1rem;
}

.brewery-meta {
    margin-bottom: 2rem;
}

.brewery-meta p {
    font-size: 1.1rem;
    color: #666;
    margin: 0.5rem 0;
}

.brewery-logo {
    text-align: center;
    margin-bottom: 2rem;
}

.brewery-logo img {
    max-width: 150px;
    height: auto;
    margin-bottom: 1rem;
}

.brewery-beers h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1rem;
}

.brewery-beers ul {
    list-style: none;
    padding: 0;
}

.brewery-beers li {
    font-size: 1.1rem;
    margin: 0.5rem 0;
}

.beer-link {
    text-decoration: none;
    color: #fec000;
    font-weight: bold;
    transition: color 0.3s ease;
}

.beer-link:hover {
    color: #333;
}

@media (max-width: 768px) {
    .content {
        width: 90%;
        padding: 1.5rem;
    }

    .brewery-title {
        font-size: 1.8rem;
    }

    .brewery-meta p {
        font-size: 1rem;
    }

    .brewery-beers h3 {
        font-size: 1.3rem;
    }
}

</style>