---
import "./../styles/global.css";
import "./../styles/card.css";

const { brewery, pageTitle } = Astro.props;
---

<div class="card">
  <a href={`/breweries/${brewery.Name}/`} class="card-link">
    <h2 class="card-name">{brewery.Name}</h2>

    <p class="card-location">{brewery.Location}</p>
    <div class="card-logo">
      {
        brewery.Logo ? (
          <img
            src={`${import.meta.env.STRAPI_URL}${brewery.Logo.url}`}
            alt={`${brewery.Name} logo`} width="100px"
          />
        ) : (
          <span>Logo not available</span>
        )
      }
    </div>
  </a>
</div>
