---
import fetchApi from "../../lib/strapi";

import BaseLayout from "./../../layouts/BaseLayout.astro";

import "../../styles/global.css";

export async function getStaticPaths() {
  const pageSize = 25;
  let page = 1;
  let allBreweries = [];

  let fetchMore = true;
  while (fetchMore) {
    const breweriesPage = await fetchApi<Brewery[]>({
      endpoint: `breweries?populate=*&pagination[page]=${page}&pagination[pageSize]=${pageSize}`,
      wrappedByKey: "data",
    });

    allBreweries = [...allBreweries, ...breweriesPage];

    if (breweriesPage.length < pageSize) {
      fetchMore = false;
    } else {
      page++;
    }
  }

  return allBreweries.map((brewery) => ({
    params: { Name: brewery.Name },
    props: { ...brewery },
  }));
}

type Props = Brewery;

const brewery = Astro.props;
const pageTitle = brewery.Name;
---

<BaseLayout pageTitle={pageTitle}>
  <div class="layout">
    <div class="content">
        <h1 class="item-title">{brewery.Name}</h1>
        <div class="item-logo">
          {
            brewery.Logo != null ? (
              <img
                src={`${import.meta.env.STRAPI_URL}${brewery.Logo.url}`}
                alt={`${brewery.Name} logo`} width="100px"
              />
            ) : (
              <span>Logo not available</span>
            )
          }
        </div>
        <div class="item-meta">
          <p><strong>Location:</strong> {brewery.Location}</p>
          <p>
            <strong>Description:</strong>
            {
              brewery.Description != null ? (
                brewery.Description
              ) : (
                <span>Description not available</span>
              )
            }
          </p>
        </div>
        <div class="item-links">
          <h3>Beers produced:</h3>
          <ul>
            {
              brewery.Beers?.length > 0 ? (
                brewery.Beers.map((beer) => (
                  <li key={beer.id}>
                    <a href={`/beers/${beer.Name}/`} class="item-link">
                      {beer.Name}
                    </a>
                  </li>
                ))
              ) : (
                <li>No beers available</li>
              )
            }
          </ul>
        </div>
    </div>
  </div>
</BaseLayout>

<style>
  .layout {
    display: flex;
    justify-content: center;
  }

  .content {
    background-color: #fff;
    padding: 2rem;
    width: 60%;
    max-width: 800px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
</style>
